body {
    background-color: cadetblue;
    margin: 0px;
  }
  #top_div {
    background-color: #fff;
    height: 80px;
    display: flex;
    
  }
  .inner_div {
    /*background-color: blue;*/
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #001b1e;
  }
  #img1 {
    float: right;
    margin-right: 20px;
  }
  #innerdiv1 {
    width: 220px;
    background-color: #fff;
  }
  
  #innerdiv2 {
    width: 100px;
    background-color: #fff;
  }
  #innerdiv2 :hover {
    width: 100px;
    color: #001b1e;
  }
  #innerdiv3 {
    width: 200px;
    background-color: #fff;
  }
  #innerdiv4 {
    width: 200px;
    background-color: #fff;
  }
  #innerdiv5 {
    width: 150px;
    background-color: #fff;
    margin-right: 180px;
  }
  #innerdiv6 {
    width: 80px;
    padding-top: 8px;
    color: #707070 !important;
    background-color: #fff;
  }
  #innerdiv7 {
    width: 80px;
    color: #fff;
    /*background-color: #d23228;*/
  }
  #text1 {
    white-space: nowrap;
    margin: 0px;
    padding-top: 50px;
    padding-left: 220px;
    font-size: 4.875rem;
    color: #fff;
    line-height: 1;
    font-weight: 700;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
  }
  #text2 {
    margin: 0px;
    padding-top: 0px;
    padding-left: 220px;
    font-size: 4.875rem;
    color: #d23228;
    line-height: 1;
    font-weight: 700;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
  }
  #banner_div {
    display: flex;
    margin-top: 0px;
    background-color: #00262b;
    height: 450px;
    
  }
  #search-box {
    width: 276px;
    height: 35px;
    color: #58524faf;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 220px;
    font-weight: 700;
    font-size: 16px;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
  }
  #search-button {
    border: 0px;
    height: 42px;
    width: 90px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.33334;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
    color: #fff;
    background-color: #d23228;
    cursor: pointer;
  }
  #search-button:hover {
    border: 0px;
    height: 42px;
    width: 90px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.33334;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
    color: #fff;
    background-color: #96221a;
    cursor: pointer;
  }
  #link1 {
    color: #e9ecef;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.55556;
    text-align: left;
    margin-left: 220px;
  }
  #div3inner {
    display: flex;
    justify-content: center;
  }
  #div3outer {
    /*background-color: #e9ecef; */
    background-color: white;
    height: 280px;
  }
  .uni-img {
    margin-top: 80px;
    height: 80px;
    margin-right: 30px;
    margin-bottom: 28px;
  }
  #link2 {
    color: #034b55;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.55556;
    margin-left: 500px;
    
  }
  #link2:hover {
    color: #00262b;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.55556;
    margin-left: 500px;
    
  }
  #div4outer-explore-courses{
    width: 100%;
    background-color:  #f2f0ef;
    height: auto;
    padding-top: 15px;
  }
  #explore{
    color: #00262b;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;
    font-size: 3.75rem;
    margin-left: 90px;
    margin-bottom: 40px;
    
  }
  .explore-buttons{
    font-weight: 400;
    color: #707070;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    font-size: 1.125rem;
    line-height: 1.33334;
    font-family: "Inter","Helvetica Neue",Arial,sans-serif;
    border: 0px;
    height: 42px;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 15px;
  }
  #cs-button{
    background-color: white;
    margin-left: 90px;
     color: #00262b;
  }
  #cs-button:hover{
    color: white;
    margin-left: 90px;
    background-color: #00262b;
  }
  #b-button{
    margin-left: 5px;
  }
  #b-button:hover{
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.938);
  }
  #ds-button{
    margin-left: 5px;
   }
   #ds-button:hover{
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.938);
   }
  #e-button{
    margin-left: 5px;
   }
  #d-button{
    margin-left: 5px;
   }
   #e-button:hover{
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.938);
   }
  #d-button:hover{
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.938);
   }
   #cards-container{
     display: flex !important;
     /*flex-direction: row;*/
     background-color: #f2f0ef;
     flex-wrap: wrap;
  }
   .card{
    width: 270px;
    height: 270px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 5px 5px;
   }
   .card:hover{
    width: 270px;
    height: 270px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(77, 77, 77);
    border-radius: 5px 5px 5px 5px;
   }
   #c1{
     margin-left: 90px;
   }
   .c-img{
    max-width: 100%;
    min-width: 100%;
    }
  .c-header{
    height: 100px;
    overflow: hidden;
  }
  .c-logo{
    max-width: 110px;
    position: relative;
    bottom: 45px;
    left: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 hsla(0,0%,66.7%,.5);
  }
  .c-mid{
  height: 10px;
  background-color: white;
  }
  .c-t1{
    height: auto;
    line-height: 1.15;
    color: #454545;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
  
  #c1-body,#c2-body,#c3-body,#c4-body{
    padding-left: 20px;
    padding-right: 20px;
  }
  .c-t2{
  line-height: .86;
  color: #707070;
  font-family: Inter,Helvetica Neue,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  }
  .c-t3{
  letter-spacing: .2px;
  color: #707070;
  font-family: Inter,Helvetica Neue,Arial,sans-serif;
  font-size: .75rem;
  font-weight: 400;
  }
  #l3{
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #f2f0ef;
  }
  #link3 {
    color: #184950;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.55556;
    margin-left: 500px;
  }
  #link3:hover {
    color: #00262b;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.55556;
    margin-left: 500px;
  }
  #banner_div2 {
    display: flex;
    margin-top: 0px;
    background-color: #00262b;
    height: 650px;
    overflow: hidden;
  }
  #img3{
    position: relative;
    right: 100px;
  }
  #banner-container-right{
    color: #fff;
    text-align: left;
    font-weight: 700;
    line-height: 1.75rem;
    font-family: Roboto Mono,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 1.125rem;
    margin-top: 0px;
    margin-bottom: 0px;
    }
    #banner-container-left{
      width: 680px;
    }
    .banner2-text{
      font-family: Inter,Helvetica Neue,Arial,sans-serif;
      font-size: 2rem;
      line-height: 1.25;
      font-weight: 700;
      margin:0px;
    }
    .text-and-button{
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    .banner2-b{
      
      margin-left: 50px;
      margin-right: 1000px;
      margin-top: 100px;
    }
    .banner2-button{
      border: 0px;
      height: 50px;
      width: 70px;
      font-weight: 700;
      font-size: 30px;
      line-height: 0.8;
      font-family: Inter, Helvetica Neue, Arial, sans-serif;
      color: #fff;
      cursor: pointer;
      transform: skew(-10deg);
      background-color: #d23228;
    }
    .banner2-button:hover{
      border: 0px;
      height: 50px;
      width: 70px;
      font-weight: 700;
      font-size: 30px;
      line-height: 0.8;
      font-family: Inter, Helvetica Neue, Arial, sans-serif;
      color: #fff;
      cursor: pointer;
      transform: skew(-10deg);
      background-color: #b61408;
    }
   #text-and-button1{
     margin-top: 50px;
   }
   #banner-t2, #banner-t1{
     width: 470px;
   }
   #banner_div3{
    display: flex;
    margin-top: 0px;
    background-color: white;
    height: 550px;
    overflow: hidden;
   }
   #banner3-container-right{
    width: 600px;
    background-color:white;
   }
   #banner3-container-left{
    width: 750px;
    background-color:white;
   }
   #img4{
     float: left;
     height: 370px;
     width: 460px;
     padding-top: 90px;
   }
   #b3-h2{
    font-weight: 700;
    line-height: 1;
    font-size: 3.75rem;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    color: #00262b;
    padding-top: 70px;
    padding-left: 120px;
    padding-right: 80px;
    margin-bottom: 0px;
   }
   #b3-p{
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.55556;
    color: #454545;
    margin-top: 10px;
    padding-left: 120px;
   }
   .banner3-button{
    color: #fff;
    background-color: #00262b;
    border-color: #00262b;
    font-weight: 500;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    border: 0px;
    height: 45px;
    width: 140px;
    margin-left: 120px;
    font-size: 1.125rem;
    line-height: 1.33334;
    cursor: pointer;
   }
   .banner3-button:hover{
    color: #fff;
    background-color: #02444d;
    border-color: #02444d;
    font-weight: 500;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    border: 0px;
    height: 45px;
    width: 140px;
    margin-left: 120px;
    font-size: 1.125rem;
    line-height: 1.33334;
    cursor: pointer;
   }
   #banner_div4{
    display: flex;
    margin-top: 0px;
    background-color: white;
    height: 850px;
    overflow: hidden;
   }
   #banner4-container-right{
    width: 600px;
    background-color:white;
    margin-top: 100px;
   }
   #banner4-container-left{
    width: 750px;
    background-color:white;
  }
   #img5{
    float: left;
    height: 370px;
    width: 570px;
    padding-top: 90px;
    margin-left: 0px;
  }
  #b4-h2{
    font-weight: 700;
    line-height: 1;
    font-size: 3.75rem;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    color: #00262b;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 80px;
    margin-bottom: 0px;
    background-color: white;
    width: max-content;
   }
   .b4-p{
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.55556;
    color: #454545;
    padding-left: 60px;
    padding-right: 150px;
   }
   .b4-h{
    line-height: 1.75rem;
    font-size: 1.375rem;
    font-weight: 700;
    color: #00262b;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    padding-left: 60px;
   }
   #b5-h3{
    padding-left: 60px;
    margin-top: 0px;
    padding-top: 80px;
    line-height: 1.3125;
    font-family: Roboto Mono,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: .75rem;
    font-weight: 700;
    color: #fff;
   }
   #b5-h2{
    padding-left: 60px;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    line-height: 2.75rem;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    padding-right: 0px;
    width: 700px;
   }
   .banner5-button{
    color: #fff;
    background: #fff;
    color: #00262b;
    font-weight: 500;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    border: 0px;
    height: 45px;
    width: 140px;
    margin-left: 60px;
    font-size: 1.125rem;
    line-height: 1.33334;
    cursor: pointer;
     }
     .banner5-button:hover{
      
      background: rgb(75, 102, 114);
      color: #ffffff;
      font-weight: 500;
      font-family: Inter,Helvetica Neue,Arial,sans-serif;
      border: 0px;
      height: 45px;
      width: 140px;
      margin-left: 60px;
      font-size: 1.125rem;
      line-height: 1.33334;
      cursor: pointer;
       }
    #banner_div5{
      display: flex;
      height: 620px;
    } 
   #banner_div5_left{
    margin-top: 0px;
    background-color: #00262b;
   }
   #banner_div5_right{
    background-color: #00262b;
   }
   #img6{
    float:left;
    padding-top: 100px;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 590px;
    margin-top: 257px;
   }
  #div6-container{
    background-color: #f2f0ef;
  }
   #d6-h3{
    padding-left: 70px;
    margin-top: 0px;
    padding-top: 80px;
    line-height: 1.3125;
    font-family: Roboto Mono,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: .75rem;
    font-weight: 700;
    color: #00262b;
   }
   #upper-div{
     display: flex;
   }
   #r1-c1{
     margin-left: 70px;
   }
   #r1-c2{
     margin-left: 220px;
   }
   #r1-c3{
     margin-left: 280px;
   }
   .div6-heading{
    color: #00262b;
    line-height: 1.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
   }
   .div6-text{
    color: #00262b;
    line-height: 20px;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
   }
   #lower-div{
     display: flex;
     padding-top: 10px;
   }
   #r2-c1{
    margin-left: 70px;
  }
  #r2-c2{
    margin-left: 170px;
  }
  #r2-c3{
    margin-left: 210px;
    margin-bottom: 80px;
  }
  #footer-div{
    display: flex;
    background-color: #fcfcfc;
  }
  
  #left-footer-inner{
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    height: 550px;
    width: 800px;
  }
  #left-mid-div{
    display: flex;
    
  }
  #footer-img{
    float: left;
    margin-left: 70px;
    margin-top: 70px;
  }
  .footer-heading{
    color: #00262b;
    line-height: 1.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    margin-left: 70px;
    margin-bottom: 40px;
   }
   .footer-text{
    color: #00262b;
    line-height: 20px;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 70px;
   }
   .footer-text2{
    font-size: .875rem;
    line-height: 1.5;
    color: #00262b;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    margin-left: 70px;
   }
   #right-footer-inner{
    display: flex;
    flex-direction: column;
    }
    #right-top-div{
      display: flex;
      flex-direction: row;
    }
    
    .ico{
      margin-top: 70px;
      margin-left: 10px;
      width: 50px;
      height: 50px;
      background-color: white;
    }
    #fb-ico{
      margin-left: 200px;
    }
    #language-t{
      margin-top: 50px;
      margin-left: 150px;
    }
    .footer-button1{
      border: 1px solid;
      border-color: grey;
      padding: 10px;
      padding-left: 15px;
      margin-left: 150px;
      width: 180px ;
      height: 45px;
      color: #fff;
      background: #fff;
      color: #00262b;
      font-weight: 500;
      font-family: Inter,Helvetica Neue,Arial,sans-serif;
      font-size: 1.125rem;
      text-align: left;
    }
    .footer-button{
      border: 1px solid;
      border-color: grey;
      color: #fff;
      background: #fff;
      color: #00262b;
      font-weight: 500;
      font-family: Inter,Helvetica Neue,Arial,sans-serif;
      height: 45px;
      width: 80px;
      margin-left: 60px;
      font-size: 1.125rem;
      line-height: 1.33334;
      cursor: pointer;
      margin-left: 10px;
    }
    .footer-button:hover{
      border-color: grey;
      color: #fff;
      background: #fff;
      background-color: #00262b;
      
    }
    #english-container{
      display: flex;
      flex-direction: row;
    }
    .reddit-ico{
      width: 45px;
      height: 45px;
      margin-top: 73px;
    }
    #right-bottom-div{
      display: flex;
      flex-direction: row;
    }
    #app-store-img{
      height: 60px;
      width: 110px;
      margin-top: 160px;
      margin-left: 150px;
      cursor: pointer;
    }
    #play-store-img{
      height: 40px;
      width: 120px;
      margin-top: 170px;
      margin-left: 20px;
      cursor: pointer;
    }
    #register-button{
      margin-top: 10px;
      border: 0px;
      height: 50px;
      width: 100px;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1;
      font-family: Inter, Helvetica Neue, Arial, sans-serif;
      color: #fff;
      cursor: pointer;
      transform: skew(-10deg);
      background-color: #d23228;
      text-decoration: none;
    }
    #register-button:hover{
      margin-top: 10px;
      border: 0px;
      height: 50px;
      width: 100px;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1;
      font-family: Inter, Helvetica Neue, Arial, sans-serif;
      color: #fff;
      cursor: pointer;
      transform: skew(-10deg);
      background-color: #8d241c;
      text-decoration: none;
    }
    #yellow-strip{
      background: #f0cc00;
      color: #00262b;
      transform: skew(-10deg);
      font-family: Inter,Helvetica Neue,Arial,sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.55556;
      text-align: right;
      width: 650px;
      position: absolute;
      height: 70px;
      left:-10px;
      top: 490px;
      
    }
    #strip-text{
      transform: skew(10deg);
      color: #00262b;
      font-family: Inter,Helvetica Neue,Arial,sans-serif;
      padding-right: 20px;
    }
    #strip-text-large{
      font-family: Roboto Mono,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
      font-size: 2rem;
      padding-right: 10px;
      
    }
    .underline:hover{
      text-decoration: underline;
      cursor: pointer;
    }